[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ANOVAIREVA"]
	path = ANOVAIREVA
	url = https://github.com/cran/ANOVAIREVA
[submodule "ANOVAShiny"]
	path = ANOVAShiny
	url = https://github.com/cran/ANOVAShiny
[submodule "ANOVAShiny2"]
	path = ANOVAShiny2
	url = https://github.com/cran/ANOVAShiny2
[submodule "BLRShiny"]
	path = BLRShiny
	url = https://github.com/cran/BLRShiny
[submodule "BLRShiny2"]
	path = BLRShiny2
	url = https://github.com/cran/BLRShiny2
[submodule "CLUSTShiny"]
	path = CLUSTShiny
	url = https://github.com/cran/CLUSTShiny
[submodule "CMShiny"]
	path = CMShiny
	url = https://github.com/cran/CMShiny
[submodule "CTAShiny"]
	path = CTAShiny
	url = https://github.com/cran/CTAShiny
[submodule "CTShiny"]
	path = CTShiny
	url = https://github.com/cran/CTShiny
[submodule "CTShiny2"]
	path = CTShiny2
	url = https://github.com/cran/CTShiny2
[submodule "GOFShiny"]
	path = GOFShiny
	url = https://github.com/cran/GOFShiny
[submodule "KNNShiny"]
	path = KNNShiny
	url = https://github.com/cran/KNNShiny
[submodule "MDSPCAShiny"]
	path = MDSPCAShiny
	url = https://github.com/cran/MDSPCAShiny
[submodule "MNLR"]
	path = MNLR
	url = https://github.com/cran/MNLR
[submodule "NBShiny"]
	path = NBShiny
	url = https://github.com/cran/NBShiny
[submodule "NBShiny2"]
	path = NBShiny2
	url = https://github.com/cran/NBShiny2
[submodule "NBShiny3"]
	path = NBShiny3
	url = https://github.com/cran/NBShiny3
[submodule "NDP"]
	path = NDP
	url = https://github.com/cran/NDP
[submodule "PDShiny"]
	path = PDShiny
	url = https://github.com/cran/PDShiny
[submodule "PREPShiny"]
	path = PREPShiny
	url = https://github.com/cran/PREPShiny
[submodule "PROBShiny"]
	path = PROBShiny
	url = https://github.com/cran/PROBShiny
[submodule "STAT"]
	path = STAT
	url = https://github.com/cran/STAT
[submodule "STAT2"]
	path = STAT2
	url = https://github.com/cran/STAT2
[submodule "TAShiny"]
	path = TAShiny
	url = https://github.com/cran/TAShiny
[submodule "VTShiny"]
	path = VTShiny
	url = https://github.com/cran/VTShiny
[submodule "semdrw"]
	path = semdrw
	url = https://github.com/cran/semdrw
